<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MineToot.settings.texts" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MineToot.settings.users" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MineToot.settings.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MineToot.settings.texts>
            <setting name="text" serializeAs="String">
                <value />
            </setting>
        </MineToot.settings.texts>
        <MineToot.settings.users>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
        </MineToot.settings.users>
        <MineToot.settings.app>
            <setting name="loginout" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="death" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="interval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="server_name" serializeAs="String">
                <value>Minecraft Server</value>
            </setting>
            <setting name="toot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="token" serializeAs="String">
                <value />
            </setting>
            <setting name="privacy" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="server_domain" serializeAs="String">
                <value />
            </setting>
        </MineToot.settings.app>
    </userSettings>
</configuration>